@model WebMvc5.Models.Home.MonthViewModel

@{
    ViewBag.Title = "Month by VLAN";
}

<h2>Month charts by VLAN</h2>

@foreach (var chart in Model.Charts)
{
    <div class="row">
        @chart
    </div>
}